[submodule "packstack/puppet/modules/glance"]
	path = packstack/puppet/modules/glance
	url = https://github.com/stackforge/puppet-glance.git
[submodule "packstack/puppet/modules/horizon"]
	path = packstack/puppet/modules/horizon
	url = https://github.com/stackforge/puppet-horizon.git
[submodule "packstack/puppet/modules/keystone"]
	path = packstack/puppet/modules/keystone
	url = https://github.com/stackforge/puppet-keystone.git
[submodule "packstack/puppet/modules/nova"]
	path = packstack/puppet/modules/nova
	url = https://github.com/stackforge/puppet-nova.git
[submodule "packstack/puppet/modules/openstack"]
	path = packstack/puppet/modules/openstack
	url = https://github.com/stackforge/puppet-openstack.git
[submodule "packstack/puppet/modules/swift"]
	path = packstack/puppet/modules/swift
	url = https://github.com/stackforge/puppet-swift.git
[submodule "packstack/puppet/modules/cinder"]
	path = packstack/puppet/modules/cinder
	url = https://github.com/stackforge/puppet-cinder.git
[submodule "packstack/puppet/modules/stdlib"]
	path = packstack/puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "packstack/puppet/modules/sysctl"]
	path = packstack/puppet/modules/sysctl
	url = https://github.com/puppetlabs/puppetlabs-sysctl.git
[submodule "packstack/puppet/modules/mysql"]
	path = packstack/puppet/modules/mysql
	url = https://github.com/packstack/puppetlabs-mysql.git
[submodule "packstack/puppet/modules/concat"]
	path = packstack/puppet/modules/concat
	url = https://github.com/ripienaar/puppet-concat.git
[submodule "packstack/puppet/modules/create_resources"]
	path = packstack/puppet/modules/create_resources
	url = https://github.com/puppetlabs/puppetlabs-create_resources.git
[submodule "packstack/puppet/modules/rsync"]
	path = packstack/puppet/modules/rsync
	url = https://github.com/puppetlabs/puppetlabs-rsync.git
[submodule "packstack/puppet/modules/xinetd"]
	path = packstack/puppet/modules/xinetd
	url = https://github.com/packstack/puppetlabs-xinetd.git
[submodule "packstack/puppet/modules/apache"]
	path = packstack/puppet/modules/apache
	url = https://github.com/packstack/puppetlabs-apache.git
[submodule "packstack/puppet/modules/firewall"]
	path = packstack/puppet/modules/firewall
	url = https://github.com/lstanden/puppetlabs-firewall.git
[submodule "packstack/puppet/modules/memcached"]
	path = packstack/puppet/modules/memcached
	url = https://github.com/saz/puppet-memcached.git
[submodule "packstack/puppet/modules/ssh"]
	path = packstack/puppet/modules/ssh
	url = https://github.com/saz/puppet-ssh.git
[submodule "packstack/puppet/modules/inifile"]
	path = packstack/puppet/modules/inifile
        url = https://github.com/puppetlabs/puppetlabs-inifile.git
[submodule "packstack/puppet/modules/qpid"]
	path = packstack/puppet/modules/qpid
	url = https://github.com/packstack/puppet-qpid.git
[submodule "packstack/puppet/modules/vlan"]
	path = packstack/puppet/modules/vlan
	url = https://github.com/derekhiggins/puppet-vlan.git
[submodule "packstack/puppet/modules/vswitch"]
	path = packstack/puppet/modules/vswitch
	url = https://github.com/packstack/puppet-vswitch.git
[submodule "packstack/puppet/modules/tempest"]
	path = packstack/puppet/modules/tempest
	url = git://github.com/stackforge/puppet-tempest.git
[submodule "packstack/puppet/modules/vcsrepo"]
	path = packstack/puppet/modules/vcsrepo
	url = https://github.com/puppetlabs/puppetlabs-vcsrepo.git
[submodule "packstack/puppet/modules/neutron"]
	path = packstack/puppet/modules/neutron
	url = https://github.com/stackforge/puppet-quantum.git
