include docs/*
include LICENSE
include README.md
recursive-include packstack/puppet *
recursive-include packstack/templates *
global-exclude .gitignore
global-exclude .gitmodules
global-exclude .git
prune packstack/puppet/modules/*/.git
